:root {
  --bg: #f9f9f9;
  --border: #bfbfbf;
  --blue: #0f52ba;
  --white-1: #ffffff;
  --white-2: #eeeeee;
  --black-1: #373737;
  --black-2: #2c2c2c;
  --black-3: #000000;
  --font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  overflow-x: hidden;
}

body.navbar-open {
  overflow-y: hidden;
}

body,
button {
  font: 400 16px/1 var(--font);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
